<section id="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>

    <div class="menu">
        <a href="/2019/index.html" class="btn"><i class="fas fa-home"></i> Home</a>
        <a href="/2019/surveys.html" class="btn"><i class="fas fa-poll"></i> Surveys</a>
        <a href="/2019/steering_committee.html" class="btn"><i class="fas fa-user-friends"></i> Steering Committee</a>
        <a href="/2019/agenda.html" class="btn"><i class="fas fa-calendar-alt"></i> Agenda</a>
        <a href="/2019/attendees.html" class="btn"><i class="fas fa-users"></i> Attendees</a>
        <a href="/2017.html" class="btn"><i class="fas fa-handshake"></i> 2017 Workshop</a>
    </div>
</section>
