<footer class="site-footer">
  <div style="float: left; padding-left: 1em; padding-right: 1em; width: 7rem">
    <img src="assets/images/nsf.png"/>
  </div>
  <span class="site-footer-owner">&copy;2017 <a href="{{ site.url }}/2017.html">{{ site.title }}</a>.</span>
  <span class="site-footer-credits">The workshop is funded by the National Science Foundation under grant <a href="https://nsf.gov/awardsearch/showAward?AWD_ID=1742969" target="_blank">#1742969</a>. The views expressed do not necessarily reflect the views of the National Science Foundation or any other organization</span>
</footer>
