<section id="page-header">
    <h1 class="project-name">{{ site.title }}</h1>
    <h2 class="project-tagline">{{ site.tagline }}</h2>

    <div class="menu">
        <a href="index.html" class="btn"><i class="fas fa-home"></i> Home</a>
        <a href="surveys.html" class="btn"><i class="fas fa-poll"></i> Surveys</a>
        <a href="steering_committee.html" class="btn"><i class="fas fa-user-friends"></i> Steering Committee</a>
        <a href="agenda.html" class="btn"><i class="fas fa-calendar-alt"></i> Agenda</a>
        <a href="attendees.html" class="btn"><i class="fas fa-users"></i> Attendees</a>
        <a href="2017.html" class="btn"><i class="fas fa-handshake"></i> 2017 Workshop</a>
    </div>
</section>
